<div class="container">

  <div class="box bcy_title center" id="header-box">
    <span class="title">Welcome to the BCYCNA newspaper database</span>
  </div>
  <div class="subtitle-div">
    <span class="subtitle center">To continue, login below</span>
  </div>
  <div class="blurb">
    <span>Bacon ipsum dolor amet chicken bacon pork salami beef kevin ball tip hamburger andouille bresaola. Strip steak boudin short ribs, turducken drumstick burgdoggen ham bresaola tongue swine capicola pork chop fatback pork. Pastrami chuck hamburger salami shoulder doner kielbasa shankle t-bone ribeye ground round burgdoggen chicken. Shankle boudin sausage sirloin cupim landjaeger flank. Shank porchetta shankle rump, beef ribeye meatloaf ball tip short loin hamburger landjaeger jerky.</span>
  </div>
       
  <div class="main-form">
    <div>
        <%= form_tag sessions_path do %>
          <p class="control">
            <%= label_tag "Email" %><br>
            <%= text_field_tag :email, nil, class: "input is-large" %>
          </p>
          <p class="control">
            <%= label_tag "Password" %><br>
            <%= password_field_tag :password, nil, class: "input is-large" %>
          </p>
          <p class="control">
            <div class="center-button">
              <%= submit_tag "Submit", class: "button" %>
            </div>
          </p>
        <% end %>

      </div>
  </div>
  <div class="logo">
    <img src="https://bccommunitynews.com/wp-content/uploads/2016/09/CNA_BCY-logo-2C-1.jpg" />
  </div>
</div>