<div class="container">

  <div class="box bcy_title center" id="header-box">
    <span class="title">Welcome to the BCYCNA newspaper database</span>
  </div>

  <div class="blurb">
    <span><p>The BCYCNA is a non-profit membership organization representing community newspapers throughout British Columbia and the Yukon.</p>

<p>We’ve existed as an organization since 1922, and today we boast a membership of 107 newspapers, with a combined readership of almost 2.5 million. The smallest newspapers circulate less than 1000 copies each week, and the largest, more than 100,000.</p>

<p>Our members reflect the images, thoughts and everyday happenings of the communities they serve. While these communities may vary in size, from tiny, isolated locations to bustling suburban centres, they share one important feature – a strong community newspaper.</p>

<p>These newspapers deliver more than the news. The information they deliver provides readers with a sense of pride, a sense of identity and a sense of belonging.</p>
</span>
  </div>

    <div class="subtitle-div">
    <span class="subtitle center">To continue, login below</span>
  </div>
       
  <div class="main-form">
    <div>
        <%= form_tag sessions_path do %>
          <p class="control">
            <%= label_tag "Email" %><br>
            <%= text_field_tag :email, nil, class: "input is-large" %>
          </p>
          <p class="control">
            <%= label_tag "Password" %><br>
            <%= password_field_tag :password, nil, class: "input is-large" %>
          </p>
          <p class="control">
            <div class="center-button">
              <%= submit_tag "Submit", class: "button" %>
            </div>
          </p>
        <% end %>

      </div>
  </div>
  <div class="logo">
    <img src="https://bccommunitynews.com/wp-content/uploads/2016/09/CNA_BCY-logo-2C-1.jpg" />
  </div>
</div>