<%= flash[:notice] %>

<div class="container">
<%= form_tag newspapers_path, {class: 'filter'} do %>
  <div class="input-field">
    <label for="search">Search by publication, editor name, or sales manager name.</label>
    <%= text_field_tag :search %>
  </div>
<% end %>

<% if current_user.admin %>
<h4>Import a new CSV</h4>
  <%= form_tag import_newspapers_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
    <% end %>
</div>
<% end %>

<div class="spacer">
</div>

<div class="columns">
  <div class="column is-two-thirds is-offset-2">
  <table>
    <thead>
      <tr>
        <td>Publication</td>
        <td>Editor Name</td>
        <td>Sales Manager Name</td>
      </tr>
    </thead>
    <tbody>
      <% @filter.each do |newspaper| %>
        <tr>
          <td><%= link_to newspaper.publication, newspaper_path(newspaper) %></td>
          <td><%=newspaper.editor%></td>
          <td><%=newspaper.sales_manager%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>